@import url('vars.css');

.wrapper {
    max-width: 1160px;
    margin: 0 auto;
    font-family: var(--primary-font-stack);
}

.header {
    background-color: #fafafa;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 109px;
}

.logo {
    margin-left: 100px;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 2.15px
}

.logo,
.nav-item,
.user-form-item {
    text-decoration: none;
    color: var(--black-font-color);
    text-transform: capitalize;
    line-height: 17px;
}

.logo-yellow {
    color: #e75a31
}

.logo-uppercase {
    text-transform: uppercase;
}

.nav {
    display: flex;
}

.nav-item,
.user-form-item{
    display: block;
    margin-right: 80px;
    font-weight: 700;
    font-size: 14px;
}

.user-form{
    display: flex;
}

.nav-item {
    position: relative;
}
.nav-item:last-child {
    margin-right: 0;
}

.nav-item:after {
    visibility: hidden;
    position: absolute;
    content: " ";
    left: 0;
    top: 20px;
    width: 19px;
    visibility: hidden;
    height: 2px;
    background-color: #151f32;
    
}

.nav-item:hover:after {
    visibility: visible;
}

.section-wrapper {
    display: flex;
    justify-content: space-between;
}

.section-left,
.section-right {
    width: 48%;
}

.section-left{
    padding-left: 160px;
}
.section-left h2 {
    margin-top: 42px;
    margin-bottom: 220px;
    text-transform: capitalize;
    font-weight: 900;
    font-size: 110px;
    line-height: 132px;
    color: #032F48;
}

.section-left p {
    width: 194px;
    padding-left: 8px;
    font-weight: 500;
    margin-bottom: 50px;
    font-size: 12px;
    line-height: 23px;;
    color: #344159;   
}

.section-right {
    position: relative;
    background-color: var(--dark-blue-color);
}
.orange-triangle {
    position: absolute; 
    
    width: 500px;
    height: 670px;
    background: var(--tomato-color);
    transform: matrix(-0.72, -0.7, -0.7, 0.72, 0, 0);
    left: 290px;
    top: 200px;
    overflow: hidden;
}