:root {
    --dark-blue-color: #032F48;
    --red-color: #F1552C;
    --primary-font-stack: 'Lato', sans-serif;
    --black-font-color: #151F32;
    --tomato-color: #f1552c;
    --light-grey-color: #c2c2c2;
    --light-blue-color: #78c9c0;
    --primary-white-color: #ffffff;
    --light-yellow-color: #FCD3AC;
    --yellow-color: #f9ba51;
    --red-color: #e75a31;
    --white-grey-color: #fafafa;
}